# Project Settings
Example environment variables for the Email Filter Backend.
Do NOT commit the actual .env file.

APP_NAME=Email Filter API
ENV=development
DEBUG=True
API_VERSION=v1
HOST=0.0.0.0
PORT=8000
